*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    flex-direction: column;
    width: 1000px;
}