*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: rgba(255, 255, 255, 0.8);
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

body{
    color: black;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar{
    width: 0.5rem;
}

body::-webkit-scrollbar-track{
    background-color: #af6565;
}

body::-webkit-scrollbar-thumb{
    background-color: #ff0000;
}

.contenedor-principal{
    display: flex;
    min-height: 100vh;
}

.navbar{
    background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
}

.navbar-nav{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-logo{
    width: 100%;
    display: flex;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.logo-icono svg{
    width: 3rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.logo-texto{
    font-size: 1.7rem;
    width: 12rem;
    margin-top: 1.5rem;
}

.nav-item{
    width: 100%;
    
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
}

.nav-link:hover{
    color: white;
}

.link-text{
    margin: 0 1rem;
}

.nav-link svg{
    width: 2rem;
    margin: 0 1.5rem;
}

.separador{
    width: 90%;
}

/* CSS del cuadro CRUD*/


.contenedor_imagen{
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    overflow: hidden;
    background-color: #eee;
}

.contenedor_imagen img{
    width: 100%;
    max-height: 100%;
    /*object-fit: contain;*/
    object-fit: contain;
}


/* FIN CSS cuadro CRUD*/

#tablaPrincipal{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

#tablaPrincipal td, #tablaPrincipal th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tablaPrincipal tr:nth-child(even){background-color: #f2f2f2;}

#tablaPrincipal tr:hover {background-color: #ddd;}

#tablaPrincipal th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(180, 87, 87);
    color: white;
}

#cabeceraTabla{
    display: flex;
    align-items: center;
    background-color: #b45757;
}

#cabeceraTabla h2{
    margin: 20px;
}

.botonesTabla{
    margin-left: auto;
    margin-right: 30px;
}

#contenedorTabla{
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    min-width: 800px;
}

#covertor{
    display: none;
    background-color: black;
    position:fixed;
    opacity: 0.5;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.contenedorModal{
    position: absolute;
    display: none;
    /*background-color: rgba(0,0,0,0.35);*/
    top: 0px;
    width: 100%;
}

.modal{
    margin: 30px auto;
    width: 800px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    font-family: Gadugi;
}

.contenedor_vista_previa{
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    overflow: hidden;
    background-color: #eee;
    margin: auto;
}

.contenedor_vista_previa img{
    width: 100%;
    max-height: 100%;
    /*object-fit: contain;*/
    object-fit: contain;
}

.modal form{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cabeceraModal{
    display: flex;
    padding: 20px;
    border-bottom: 1px dashed black;
    align-items: baseline;
    position: relative;
    transition: 0.3s;
}

#mensaje_agregar, #mensaje_borrar, #mensaje_editar{
    width: 60%;
    margin-left: 20px;
}

.boton-cerrar{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 10px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 1px;
    padding-left: 1px;
    height: 30px;
    width: 30px;
    font-size: 25px;
    border: 3px dashed black;
    opacity: 0.5;
    line-height: 0;
    border-radius: 30px;
    background-color: #ff8f8f;
    color: black;
    outline: none;
}

.boton-cerrar:hover{
    opacity: 1;
}

.cuerpoModal{
    padding: 20px 30px;
}

.grupoInput{
    margin-bottom: 15px;
}

.entradaForm, .etiquetaForm{
    font-size: 20px;
}

.grupoInput .etiquetaForm{
    margin-bottom: 5px;
    margin-right: 10px;
}

.grupoInput .entradaForm{
    display: block;
    width: 100%;
    padding: 6px 12px;
}

.entradaForm option{
    font-size: 20px;
    background-color: #fffcef;
}

.mensaje_form{
    color: red;
    margin-left: 10px;
}

.pieModal{
    background-color: lightgray;
    display: flex;
    padding: 30px;
    margin-top: auto;
    justify-content: flex-end;
}

.pieModal button{
    margin-left: 15px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid black;
}